// Import bootstrap
// @import "bootstrap/scss/bootstrap";
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');

// Import google fonts?
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');



// Variables and base classes
$headerColor: #DFF7FA;
$fontColor: #DDD;

$bg_color: #343a40;
$bg_gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 55, 1), rgba(0, 0, 0, 0));

$divider_gradient: linear-gradient(to right, #0039a6, #eee);


.clamper {
    width: clamp(300px, 100%, 800px);
    margin-left: auto;
    margin-right: auto;
}

// Element-level styles
* {
    border: 1px solid rgba(255, 0, 0, 0.2);
    color: $fontColor;
    font-size: 0.9rem;
}

body {
    background-color: $bg_color;
}

h1,
h2,
h3 {
    font-family: 'Black Ops One', monospace;
    text-shadow: #000 2px;
}

h1 {
    font-size: 2.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $headerColor;
}

ul {
    list-style: none;
}

// Class-level styles

.base-div {
    @extend .clamper;
}

.gradient {
    background: $bg_gradient !important;
    
}

.gradient::before{
    content: "";
    display: block;
    height: 5px;
    background: $divider_gradient;
  }

.map-icon img {
    max-width: 20px;
    margin-left: 40px;
}

.section {
    @extend .clamper;
    padding: 8%;
    margin-bottom: max(250px, 10%);
    
}

// .section > div {
//     max-width: fit-content;
//     margin-left: auto;
//     margin-right: auto;
// }

.service-li-1 {
    margin-left: 10%;
}

.service-li-2 {
    margin-left: 20%;

}

.service-li-3 {
    margin-left: 30%;
}

.service-link {
    font-weight: 700;
}

@media screen and (min-width: 720px) {
    * {
        font-size: 1.1rem;
    }
}